<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:solr="http://www.springframework.org/schema/data/solr"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/data/solr http://www.springframework.org/schema/data/solr/spring-solr.xsd">

    <solr:solr-server id="solr-server" url="http://myhost:2984/solr/collection1" />

    <bean id="solrTemplate" class="org.springframework.data.solr.core.SolrTemplate" >
        <constructor-arg ref="solr-server" />
    </bean>
</beans>